<h1 class="text-center mt-4">Listing all articles</h1>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <%= render 'layouts/messages' %>
    </div>
  </div>
  <p class="text-center mt-4"><%= link_to 'New Article', new_article_path, class: 'btn btn-primary' %></p>
  
  <%= render 'list', articles: @articles %>
</div>
