#home-container {
        margin-top: 25px;
}

.jumbotron {
        background-image: asset-url('home_jumbotron.jpg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 425px;
}

/* Sticky Footer Classes - BEGIN */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

#sticky-footer {
  flex-shrink: none;
}

/* Sticky Footer Classes - END */